<header>
  <a href="{{model.ghurl}}" target="_blank">{{fa-icon icon="github" class=(if model.isLoading "loading")}}</a>

  {{input value=model.query enter="jumpTo"}}

  <a href="https://github.com/chancancode/ember-cli-github-issues" target="_blank" class="btn primary fork">
    {{fa-icon icon="code-fork"}} Fork Me on GitHub
  </a>
</header>

{{outlet}}